In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df=pd.read_excel(r"C:\Users\aravi\OneDrive\Desktop\Project Files\World_development_mesurement.xlsx")

# Data Preprocessing

In [3]:
df.head()

,Birth Rate,Business Tax Rate,CO2 Emissions,Country,Days to Start Business,Ease of Business,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,...,Life Expectancy Male,Mobile Phone Usage,Number of Records,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Tourism Inbound,Tourism Outbound
0,0.020,NaN,87931.0,Algeria,NaN,NaN,26998.0,"$54,790,058,957",0.035,$60,...,67.0,0.0,1,0.342,0.619,0.039,31719449,0.599,"$102,000,000","$193,000,000"
1,0.050,NaN,9542.0,Angola,NaN,NaN,7499.0,"$9,129,594,819",0.034,$22,...,44.0,0.0,1,0.476,0.499,0.025,13924930,0.324,"$34,000,000","$146,000,000"
2,0.043,NaN,1617.0,Benin,NaN,NaN,1983.0,"$2,359,122,303",0.043,$15,...,53.0,0.0,1,0.454,0.517,0.029,6949366,0.383,"$77,000,000","$50,000,000"
3,0.027,NaN,4276.0,Botswana,NaN,NaN,1836.0,"$5,788,311,645",0.047,$152,...,49.0,0.1,1,0.383,0.587,0.029,1755375,0.532,"$227,000,000","$209,000,000"
4,0.046,NaN,1041.0,Burkina Faso,NaN,NaN,NaN,"$2,610,959,139",0.051,$12,...,49.0,0.0,1,0.468,0.505,0.028,11607944,0.178,"$23,000,000","$30,000,000"

In [24]:
df.shape

(2704, 25)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2704 entries, 0 to 2703
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Birth Rate              2585 non-null   float64
 1   Business Tax Rate       1423 non-null   object
 2   CO2 Emissions           2125 non-null   float64
 3   Country                 2704 non-null   object
 4   Days to Start Business  1718 non-null   float64
 5   Ease of Business        185 non-null    float64
 6   Energy Usage            1785 non-null   float64
 7   GDP                     2494 non-null   object
 8   Health Exp % GDP        2395 non-null   float64
 9   Health Exp/Capita       2395 non-null   object
 10  Hours to do Tax         1416 non-null   float64
 11  Infant Mortality Rate   2444 non-null   float64
 12  Internet Usage          2531 non-null   float64
 13  Lending Interest        1880 non-null   float64
 14  Life Expectancy Female  2568 non-null   float64
 15  Life Expectancy Male    2568 non-null   float64
 16  Mobile Phone Usage      2537 non-null   float64
 17  Number of Records       2704 non-null   int64
 18  Population 0-14         2484 non-null   float64
 19  Population 15-64        2484 non-null   float64
 20  Population 65+          2484 non-null   float64
 21  Population Total        2704 non-null   int64
 22  Population Urban        2678 non-null   float64
 23  Tourism Inbound         2336 non-null   object
 24  Tourism Outbound        2233 non-null   object
dtypes: float64(17), int64(2), object(6)
memory usage: 528.2+ KB

In [6]:
df.isnull().sum()

Birth Rate                 119
Business Tax Rate         1281
CO2 Emissions              579
Country                      0
Days to Start Business     986
Ease of Business          2519
Energy Usage               919
GDP                        210
Health Exp % GDP           309
Health Exp/Capita          309
Hours to do Tax           1288
Infant Mortality Rate      260
Internet Usage             173
Lending Interest           824
Life Expectancy Female     136
Life Expectancy Male       136
Mobile Phone Usage         167
Number of Records            0
Population 0-14            220
Population 15-64           220
Population 65+             220
Population Total             0
Population Urban            26
Tourism Inbound            368
Tourism Outbound           471
dtype: int64

# Null Values Percentage

In [7]:
null_pertanage=[]
def null_per(x):
    for i in x.columns:
        a=x[i].isnull().sum()/len(x[i]) * 100
        print(i,a)
        if a>=5:
            null_pertanage.append(i)
null_per(df)

Birth Rate 4.400887573964497
Business Tax Rate 47.374260355029584
CO2 Emissions 21.412721893491124
Country 0.0
Days to Start Business 36.46449704142012
Ease of Business 93.15828402366864
Energy Usage 33.98668639053255
GDP 7.766272189349112
Health Exp % GDP 11.427514792899409
Health Exp/Capita 11.427514792899409
Hours to do Tax 47.633136094674555
Infant Mortality Rate 9.615384615384617
Internet Usage 6.397928994082839
Lending Interest 30.473372781065088
Life Expectancy Female 5.029585798816568
Life Expectancy Male 5.029585798816568
Mobile Phone Usage 6.17603550295858
Number of Records 0.0
Population 0-14 8.136094674556213
Population 15-64 8.136094674556213
Population 65+ 8.136094674556213
Population Total 0.0
Population Urban 0.9615384615384616
Tourism Inbound 13.609467455621301
Tourism Outbound 17.418639053254438

In [9]:
df.notnull().sum()

Birth Rate                2585
Business Tax Rate         1423
CO2 Emissions             2125
Country                   2704
Days to Start Business    1718
Ease of Business           185
Energy Usage              1785
GDP                       2494
Health Exp % GDP          2395
Health Exp/Capita         2395
Hours to do Tax           1416
Infant Mortality Rate     2444
Internet Usage            2531
Lending Interest          1880
Life Expectancy Female    2568
Life Expectancy Male      2568
Mobile Phone Usage        2537
Number of Records         2704
Population 0-14           2484
Population 15-64          2484
Population 65+            2484
Population Total          2704
Population Urban          2678
Tourism Inbound           2336
Tourism Outbound          2233
dtype: int64

In [18]:
df[df.isnull().any(1)]

,Birth Rate,Business Tax Rate,CO2 Emissions,Country,Days to Start Business,Ease of Business,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,...,Life Expectancy Male,Mobile Phone Usage,Number of Records,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Tourism Inbound,Tourism Outbound
0,0.020,NaN,87931.0,Algeria,NaN,NaN,26998.0,"$54,790,058,957",0.035,$60,...,67.0,0.0,1,0.342,0.619,0.039,31719449,0.599,"$102,000,000","$193,000,000"
1,0.050,NaN,9542.0,Angola,NaN,NaN,7499.0,"$9,129,594,819",0.034,$22,...,44.0,0.0,1,0.476,0.499,0.025,13924930,0.324,"$34,000,000","$146,000,000"
2,0.043,NaN,1617.0,Benin,NaN,NaN,1983.0,"$2,359,122,303",0.043,$15,...,53.0,0.0,1,0.454,0.517,0.029,6949366,0.383,"$77,000,000","$50,000,000"
3,0.027,NaN,4276.0,Botswana,NaN,NaN,1836.0,"$5,788,311,645",0.047,$152,...,49.0,0.1,1,0.383,0.587,0.029,1755375,0.532,"$227,000,000","$209,000,000"
4,0.046,NaN,1041.0,Burkina Faso,NaN,NaN,NaN,"$2,610,959,139",0.051,$12,...,49.0,0.0,1,0.468,0.505,0.028,11607944,0.178,"$23,000,000","$30,000,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2699,NaN,NaN,NaN,Turks and Caicos Islands,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,1,NaN,NaN,NaN,32427,0.911,NaN,NaN
2700,0.013,46.4%,NaN,United States,5.0,4.0,2132446.0,"$16,244,600,000,000",0.179,"$8,895",...,76.0,1.0,1,0.196,0.667,0.136,313873685,0.811,"$200,092,000,000","$126,573,000,000"
2701,0.015,41.9%,NaN,Uruguay,7.0,85.0,NaN,"$50,004,354,667",0.089,"$1,308",...,74.0,1.5,1,0.220,0.639,0.140,3395253,0.948,"$2,222,000,000","$1,028,000,000"
2702,0.020,61.9%,NaN,"Venezuela, RB",144.0,180.0,NaN,"$381,286,223,859",0.046,$593,...,72.0,1.0,1,0.288,0.652,0.060,29954782,0.889,"$904,000,000","$3,202,000,000"
2703,0.011,NaN,NaN,Virgin Islands (U.S.),NaN,NaN,NaN,NaN,NaN,NaN,...,76.0,NaN,1,0.206,0.641,0.152,105275,0.949,NaN,NaN

In [19]:
#Interpolate backwardly across the column:
df.interpolat e(method ='linear', limit_direction ='backward', inplace=True)

#Interpolate in forward order across the column:
df.interpolate(method ='linear', limit_direction ='forward', inplace=True)

In [21]:
df.isnull().sum()

Birth Rate                   0
Business Tax Rate         1281
CO2 Emissions                0
Country                      0
Days to Start Business       0
Ease of Business             0
Energy Usage                 0
GDP                        210
Health Exp % GDP             0
Health Exp/Capita          309
Hours to do Tax              0
Infant Mortality Rate        0
Internet Usage               0
Lending Interest             0
Life Expectancy Female       0
Life Expectancy Male         0
Mobile Phone Usage           0
Number of Records            0
Population 0-14              0
Population 15-64             0
Population 65+               0
Population Total             0
Population Urban             0
Tourism Inbound            368
Tourism Outbound           471
dtype: int64

In [22]:
df.isnull()

,Birth Rate,Business Tax Rate,CO2 Emissions,Country,Days to Start Business,Ease of Business,Energy Usage,GDP,Health Exp % GDP,Health Exp/Capita,...,Life Expectancy Male,Mobile Phone Usage,Number of Records,Population 0-14,Population 15-64,Population 65+,Population Total,Population Urban,Tourism Inbound,Tourism Outbound
0,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2699,False,True,False,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,True,True
2700,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2701,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2702,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2703,False,True,False,False,False,False,False,True,False,True,...,False,False,False,False,False,False,False,False,True,True

In [37]:
lst=df.apply(lambda x: x.count(), axis=1)==25
lst

0       False
1       False
2       False
3       False
4       False
        ...
2699    False
2700     True
2701     True
2702     True
2703    False
Length: 2704, dtype: bool

In [38]:
def count(lst):
 
    return sum(bool(x) for x in lst)
 
print(count(lst))

1271

In [39]:
count(lst)

1271